.mapbox-container {
  display: table-cell;
  vertical-align: middle;
  float: left;
  width: 286px;
  border: 1px solid #ccc;
  padding: 5px;
}

.mapbox-map {
  overflow: hidden;
  height: 135px;
  border: 1px solid #ccc;
}

.mapbox-text {
  min-height: 105px;
  display: flex;
  align-items: center;
}

.mapbox-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mapbox-text li {
  margin: 3px;
  list-style-type: none;
}

.mapimg {
  height: 135px;
}

.mapbox-icons {
  margin-left: 10px;
}

.mapbox-text li {
  display: flex;
  align-items: center;
}