.container {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  z-index: -1;
  position: absolute;
}

.comps-container {
  width: 990px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  z-index: 1;
}

.header .biz-header .biz-title {
  display: inline;
  font-size: 36px;
  padding-top: 6px;
  z-index: 1;
}

.header .info .price-point {
  padding-bottom: 6p;
  z-index: 1;
}