.container {
  width: 990px;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
}

/* .header {

}

.header .biz-header {

}

.header .biz-header .biz-title {

}

.header .info {

}

.header .info .stars {

}

.header .info .price-point {
  
} */